<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Validacion</servlet-name>
        <servlet-class>LoginServlets.Validacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <servlet-class>LoginServlets.RegistrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarUsuarios</servlet-name>
        <servlet-class>LoginServlets.MostrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrar</servlet-name>
        <servlet-class>LoginServlets.mostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cliente</servlet-name>
        <servlet-class>LoginServlets.Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrar1</servlet-name>
        <servlet-class>LoginServlets.mostrar1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuarios</servlet-name>
        <servlet-class>LoginServlets.RegistroUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validacion</servlet-name>
        <url-pattern>/Autenticacion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Validacion2</servlet-name>
        <servlet-class>LoginServlets.Validacion2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validacion2</servlet-name>
        <url-pattern>/Autenticacion2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <url-pattern>/RegistrarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarUsuarios</servlet-name>
        <url-pattern>/MostrarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrar</servlet-name>
        <url-pattern>/mostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cliente</servlet-name>
        <url-pattern>/Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrar1</servlet-name>
        <url-pattern>/mostrar1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuarios</servlet-name>
        <url-pattern>/registrousuarios.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
